
.art-padding {
	padding-top: 20px;
	padding-bottom: 40px;
	// background-color: var(--off-black);
}

.art-main {
	font-weight: normal;
	font-style: normal;
	z-index: 1;
	width: 100%;
	max-width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
}

.art-postheader {
	// color: var(--deep-dark-cyan);
	margin: 5px 10px;
}

.art-block {
	border: 1px solid var(--grey-blue);
}

.art-blockheader {
	margin: 0 auto;
}

.art-postcontent h5 {
	// color: var(--dark-fuscia);
}

.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited,
.art-blockheader .t a:hover {
	// color: var(--fuscia);
}

.art-block {
	// background: var(--dark-leafy-green);
	border-radius: .25rem;
	border: 1px solid var(--muted-lipstick-xpt);
}

.art-blockheader {
	margin: 0;
}

.art-blockcontent {
	margin: 0;
	color: var(--bae-cream);
}

.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited,
.art-blockheader .t a:hover {
	// color: #fff;
	margin: 0;
}

.art-postheader {
	// color: var(--dark-lipstick);
}

.art-article {
	// background: var(--light-bae);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	border-top: none;
}
