/* BG IMAGES */

.art-main {
	background-color: var(--paper-yellow);
	background-image: url(../img/_page-bg.png);
}

.nav-bg,
.bg-skyblue-gradient {
	background: var(--skyblue-gradient);
}

.introduction {
	background-image: url(../img/_quote.png);
	background-repeat: no-repeat;
}

.badge-decorator::after {
	background-image: url(../img/_badge.png);
	background-position: center top;
	background-repeat: no-repeat;
	content: '';
}

.bg-grey-green {
	background: var(--grey-green);
}