/* Footer */

.footer-wrap {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 30px;	
}

.footer {
	margin: 0 auto;
	position: relative;
	background-color: #eee;

	p {
		// color: #fff;
		margin-top: 0;
		margin-bottom: 0;
		line-height: normal;
	}
}

/* End Footer */