.masthead {
	position: relative;
}

.header {
	&-wrap {
		padding-bottom: 0;
	}
	&-top {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.info-wrap {
	padding-top: 20px;
	text-align: right;

	.text {
		vertical-align: top;
		margin: 0;
	}

	.address-wrap {
		color: #fff;
	}

	.phone-wrap {
		padding-right: 20px;
		font-weight: bold;
	}

	a {
		color: inherit;
	}
}
