.home-about-us {
	.title {
		margin-left: 10px;
	}

	.content {
		line-height: 25px;

		p {
			padding-left: 10;
		}
	}
}

.parallax1 {
	background-size: contain;
	padding: 50px 0;
	min-height: 100px;
	position: relative;
	background-image: var(--skyblue-gradient);
	text-align: center;
}

.introduction {
	position: relative;
	z-index: 100;
	text-align: center;
}

.bgblack {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .5;
	z-index: 0;
}

.introduction,
.introduction p {
	color: #fff;
}

div.google-map iframe {
	min-height: 425px;
}

h1.panel-heading {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

article.panel-body {
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

p.text-widget {
	font-size: 150%;

		> span {
		color: #fff;
	}
} 

.services-list .list-group {
	> li.list-group-item {
		text-align: center !important;
		padding: 0 !important;

		> .badge {
			float: none !important;
		}
	}
}
