.main-logo-img {
	max-width: 150px;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
	background: rgba(0, 0, 0, 0.25);
	color: #fff !important;
}

.mean-container {
	a.meanmenu-reveal {
		> {
			span,
			span:before,
			span:after {
				background: #fff;
			}
		}
	}
} 

.navbar.main-nav {
	min-height: inherit;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-nav {
	> li {
		margin-left: 0;

		> a {
			text-decoration: none;
			line-height: 30px;
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: .04rem;
			// padding: .5em;
		}
	}
	> li:first-child:before {
		display: none;
	}
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus {
	background: rgba(0, 0, 0, 0);
}

.navbar-nav > li.active > a,
.navbar-nav > li > a.active {
	margin: 0 auto;
	color: #fff;
	text-decoration: none;
}

.mean-container {
		.mean-bar {
			background-color: #222;
			border-color: #080808;
			overflow: auto;
		}

	.mean-nav {
		margin-top: 0;

		ul {
			padding-top: 2em;
		}
	}
} 
