.navbar-collapse.collapse.desktop-nav {
	// padding: 15px 3px;
	position: relative;
	z-index: 1000;
	// text-align: center;
	// display: block;
	// height: 60px;
	// vertical-align: bottom;
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 42px;
	padding: 10px 12px;
	// color: var(--brunt-brick) !important;
	font-weight: normal;
	font-style: normal;
	// background-color: var(--bae-green);

	& -wrapper {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}

.cards-item {
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;

	.cards-item-image {
		transition: transform 400ms ease;
		margin-bottom: 20px;
	}

	& :hover .cards-item-image {
		transform: scale(1.1);
	}
}

.appoinment_form {
	padding-top: 30px;
	padding-bottom: 30px;

	input {
		margin: 10px 0;
	}

	select {
		margin: 10px 0;
	}
}

.map-wrap {
	padding-top: 25px;
	margin-top: 0;
}

.wiget-info {
	// background: var(--muted-lickstick-xpt-2);
	border-radius: 6px;
	// border: 1px solid var(--muted-lickstick-xpt);
	padding: 15px;
	margin-bottom: 15px;

	> h3 {
		margin-top: 0;
	}

	> table {
		width: 100%;
	}
}
