/* NATIVE ELEMENTS */

body {
	line-height: 1.625;
	font-weight: normal;
	font-style: normal;

	font-family: Raleway, 
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Roboto",
		"Helvetica Neue", Arial, sans-serif;
}

a {
	text-decoration: none;
	color: var(--a-gold);
}

a:focus,
a:hover {
	color: var(--a-gold);
	opacity: .8;
	text-decoration: none;
}

h3 {
	margin: 5px;
	font-weight: bold;
	font-style: normal;
	// color: var(--dark-cyan);
	font-size: 16px;
}

h1 {
	// color: var(--dark-green);
	margin: 10px 0;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
}

h2 {
	font-weight: normal;
	margin: 10px 0 0;
	font-size: 22px;
}

h3 {
	// color: var(--muted-lipstick-2);
	margin: 10px 0 0;
	font-size: 20px;
	font-weight: normal;
}

h4 {
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	font-family: 'Cinzel Decorative', cursive;
}

p {
	margin: .8125em 0;
	font-size: 16px;
	line-height: 1.625;
}
