
.main-social-wrap {
	text-align: center;

	> .inner {
		width: 100%; 
		// max-width: 1000px; 
		display: inline-block;
	}
}

.social-icon {
	width: 46px;
	height: 46px;
	padding: 10px;
	display: inline-block;
	line-height: 22px;

	// color: #fff;
	font-size: 24px;
	text-align: center;

	border-radius: 50%;
}
