:root {
  --a-gold: #897616;
  --dark-a-gold: #72611C;
  --btn-green: #507a07;
  --leafy-green: #5f6440;

  --skyblue-gradient: radial-gradient(
    ellipse at center,  
		rgb(131,156,170) 0%,
    rgb(109,141,164) 100%
  );

  --muted-grey-xpt: rgba(224, 224, 224, .6);
}

// CORE VENDOR
@import 'vendor';

// @import 'keyframes';
@import 'bg-assets';
@import 'native-elements';
@import 'utils';

// CORE PLUGINS
@import 'btn';
@import 'contact';
@import 'custom-bootstrap';
@import 'magnific-popup';
@import 'social';

// MAIN TEMPLATE
@import 'footer';

// PAGES
@import 'gallery';
@import 'home';
@import 'services';
