/* BOOKING */

.item-booking {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}

.group-select select option {
	color: var(--solid-grey);
	float: left;
	width: 100%;
}

.group-select optgroup {
	font-weight: 700;
	color: var(--fuscia-2);
	float: left;
	width: 100%;
}

.group-select .fa-calendar {
	position: absolute;
	margin-top: 0px;
	right: 10px;
	top: 44px;
	font-size: 18px;
	color: var(--green-lemon);
}

.box_register .btn_submit_login {
	margin-top: 40px;
}

.popup_main_area .border_right {
	border-right: 1px solid var(--silver-grey);
}

.box_register .btn_login_social {
	text-align: center;
	align-items: center;
}

.txt_login a {
	color: var(--orange-ice-2) !important;
}

.group-select {
	float: left;
	margin-right: 0;
	width: 100%;
	position: relative;
}

.group-select label {
	float: left;
	width: 100%;
	font-weight: 300;
	font-size: 17px;
	margin-bottom: 8px;
	line-height: 28px;
	color: #333;
}

.btn-search {
	width: 100%;
	margin-top: 0px;
	text-transform: uppercase;
	outline: none;
}

.staff-avatar {
	padding: 0;
}

.staff_service_v1 {
	display: inline-block;
}

.staff_service_v1 {
	margin-top: 15px;
	overflow: hidden;
}

.staff_service_v1 h4 {
	margin-top: 0;
}

.time_work_staff_v1 ul {
	margin-top: 20px;
	padding-left: 0;
}

.time_work_staff_v1 ul li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.time_work_staff_v1 ul li a {
	color: #000;
	padding: 10px;
	background: var(--green-grey);
	margin: 0;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
}

.time_work_staff_v1 ul li a:hover {
	background: var(--leafy-green-3);
	color: #fff;
}

.content-shop-booking {
	padding-top: 10px;
}

.content-shop-booking,
#box_person,
.time_work_staff_v1 {
	padding-bottom: 30px;
}

.white-popup {
	position: relative;
	padding: 0;
	width: auto;
	max-width: 800px;
	margin: 20px auto;
}

.popup_main_area {
	background: #fff;
	padding: 15px 15px 30px;
	float: left;
	width: 100%;
	border-left: transparent 1px solid;
	border-right: transparent 1px solid;
	border-bottom: transparent 1px solid;
	border-color: var(--muted-plum) !important;
}

.box_account_v1 .modal_form_header {
	min-height: 16.43px;
	padding: 5px 15px 15px;
	background: var(--dark-leafy-green);
}

.box_account_v1 .modal_form_header h4 {
	color: #fff;
}

/* END BOOKING*/

/* Booking */

.group-select input,
.group-select select,
.input-group input,
.group-select .btn-book-search {
	height: 42px;
}

.group-select .btn-book-search {
	line-height: initial;
}

.group-select.multi {
	margin-top: 0;
}

.group-select.multi select {
	height: 193px;
}

.group-select .fa,
.input-box .fa {
	color: #aaa;
}

.removeButton {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.is-more .group-select:first-child>label {
	margin-left: 30px;
}

.content-shop-booking ul,
.popup_main_area ul {
	margin: 0;
	padding: 0;
}

.content-shop-booking ul li,
.popup_main_area ul li {
	list-style-type: none;
}

.staff-avatar img {
	width: 100%;
}

.popup_main_area {
	background: #fff;
	color: #333;
}

.box_account_v1 .modal_form_header {
	border-bottom: 1px solid var(--dark-muted-yellow);
	background: var(--dark-muted-yellow);
	color: #fff;
}

.popup_main_area .form-control-wrapper {
	position: relative;
	width: inherit;
}

.popup_main_area .btn.btn-danger,
.popup_main_area .btn.btn-success {
	color: #fff;
	border: none;
	border-radius: none;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}

.popup_main_area .btn.btn-danger {
	background-color: var(--spicey-red-3);
	border-color: var(--spicey-red-4);
}

.popup_main_area .btn.btn-success {
	background-color: var(--muted-go-green);
	border-color: var(--muted-go-green-2);
}

.time_work_staff_v1 ul li a {
	min-width: 90px;
	text-align: center;
	text-transform: lowercase;
}

/* End Booking */

/* Appointment */

.appointment-form ul,
.appointment-form-v1 ul {
	padding: 0;
	margin: 0;
}

.appointment-form ul li,
.appointment-form-v1 ul li {
	list-style-type: none;
}

.appointment-form-v1 input,
textarea,
select {
	width: 100%;
}

/* End Appointment */
/* open hours */

.growrow,
.oh-row {
	margin: 0 0 10px;
	line-height: initial;
}

.growrow .oh-row .oh-time {
	text-transform: lowercase;
}

/* end open hours */

.datepicker-style .bootstrap-datetimepicker-widget {
	color: #000;
}

.datepicker-style .fa {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 10px;
	top: calc(50% - 9px);
	font-size: 18px;
}
