/*CART TABBLE*/

/* Order Page*/

.cart-table {
	margin-top: 45px;
	margin-bottom: 45px;
}

.cart-table ul li:first-child {
	border-bottom: 1px solid #dedede;
	width: 100%;
}

.cart-table .ui-inputText:focus {
	border: 1px solid #00c8b4;
}

.cart-table {
	padding: 0;
}

.cart-table thead tr th {
	height: 40px;
	margin-bottom: 10px;
	padding: 0 8px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	border-color: #7c7877;
	border-style: solid;
	border-width: 0 0 1px;
}

.cart-table thead tr th.product {
	min-width: 320px;
}

.cart-table thead tr th.price {
	min-width: 100px;
	margin-top: 0;
}

.cart-table thead tr th.qty {
	min-width: 100px;
}

.cart-table thead tr th.add-cart {
	min-width: 150px;
}

.cart-table thead tr th.remove {
	min-width: 90px;
}

.cart-table tbody tr td {
	border-color: #7c7877;
	border-style: solid;
	border-width: 0 0 1px;
	padding: 20px 8px;
	text-align: left;
}

.cart-table tbody tr:last-child td {
	padding-bottom: 0;
	border-bottom: none;
}

.fix {
	overflow: hidden;
}

.cart-table .cart-product img {
	border: 1px solid #f3f3f3;
	display: block;
	float: left;
	width: 93px;
}

.cart-table .cart-product .details {
	margin-top: 0;
	padding-left: 16px;
}

.cart-table .cart-product .details a {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	transition: all 400ms ease 0s;
}

.cart-table .cart-product .details a:hover {
	color: #AD38C2;
	text-decoration: none;
}

.cart-table .cart-product .details p {
	margin: 0;
	font-weight: bold;
}

.cart-table .cart-price {
	font-weight: bold;
	margin: 0;
}

.cart-table .cart-stock {
	color: #606060;
	text-transform: uppercase;
}

.cart-table .cart-pro-remove i {
	display: block;
	font-size: 16px;
	line-height: 22px;
	margin-left: 35px;
}

.amount_change {
	font-size: 24px;
}

.cart-table .ui-inputText {
	width: 50%;
}

.cart-table-ver1 .title {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding: 15px 0;
	border-bottom: 1px solid #dedede;
}

.cart-table-ver1 {
	background-color: #f6f6f6;
	padding-top: 15px;
	padding-left: 15px;
}

.cart-table-ver1 .table>tbody>tr>td {
	border-top: none;
}

.cart-table-ver1 .table-striped>tbody>tr:nth-child(odd)>td {
	background-color: #fff;
}

.cart-table tr:first-child td {
	background-image: none;
}

.cart-table table tr:hover td {
	background-color: transparent;
}

.cart-table p {
	font-size: 16px;
	margin-top: 0;
}

.cart-table p.mgr_100 {
	margin-right: 100px;
}

.order_details_page .btn_cart_order {
	background-color: #7ac2d7;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
}

.btn_cart_order {
	background-color: #7ac2d7;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
}

.popup-style {
	text-align: center;
}

.services_item_v1 .box_des {
	font-size: 12px;
	color: #9e9e9e;
}

.about_us_v1 .container .row p {
	padding: 0px 10px;
}

/*Payment*/

ul.list_form {
	list-style: none;
	padding-left: 0;
}

ul.list_form li {
	margin: 5px 0;
}

.fl-flex-label.fl-collapsed.fl-background .fl-label {
	background: none !important;
	color: #a96e5a;
}

/* FORM CART */

.cart.step_one {
	margin: 50px 0px
}

.cart img {
	margin: 0 auto 25px auto;
	text-align: center;
	display: block
}

.cart .form_cart {
	margin-bottom: 30px
}

.cart .form_cart .cc,
.cart .form_cart .pp {
	border-bottom: 1px solid #d8e2e7;
	margin-bottom: 20px
}

.cart .form_cart a {
	display: table;
	margin: 10px auto 25px auto;
	padding: 15px 65px;
	font-size: 15px;
	cursor: pointer
}

.cart .form_cart p {
	font-size: 14px;
	color: #858585
}

.cart .order {
	background: #fbfbfa;
	border: 1px solid #efefef;
	border-radius: 3px
}

.cart .order .inner {
	padding: 15px 20px 0px 20px
}

.cart .order .inner ul li {
	clear: both;
	border-bottom: 1px solid #ceefff;
	margin-bottom: 15px;
	padding-bottom: 15px;
	display: table;
	width: 100%
}

.cart .order .inner ul li .frame_img {
	height: 60px;
	overflow: hidden;
	float: left;
	border: 1px solid #dae4e9;
	margin-right: 15px
}

.cart .order .inner ul li .frame_img img {
	width: 60px;
	background: #fff
}

.cart .order .inner ul li .name_product {
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 63%;
	overflow: hidden;
	float: left;
}

.cart .order .inner ul li .name_product p {
	font-size: 15px
}

.cart .order .inner ul li .name_product span {
	color: #858585;
	font-size: 13px;
	margin-right: 5px
}

.cart .order .inner ul li .name_product small {
	width: 7px;
	height: 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block
}

.cart .order .subtotal {
	padding: 0px 20px 15px 20px
}

.cart .order .subtotal ul li {
	padding: 3px 0px
}

.cart ul {
	list-style: none;
	padding-left: 0;
}

.cart .order .total ul {
	padding: 15px 20px;
}

.cart .order .total ul li span {
	color: #F00;
	font-size: 24px;
}

.cart .note {
	color: #858585;
	margin: 15px 0px
}

.cart .note p {
	font-size: 14px;
	margin: 0;
}

h2.timr {
	margin: 0;
	margin-bottom: 20px;
}

.box_cart {
	margin: 30px auto;
}

ul.list_form li {
	margin: 5px 0;
}

h4.sanb {
	font-size: 18px;
	font-style: italic;
}

.inner .price,
.subtotal span,
.total span {
	font-weight: bold;
}

.fl-flex-label label {
	font-weight: normal;
}

.white-popup {
	clear: both;
	overflow: hidden;
}

/*login module*/

.login_form_area .box_area_login_v1 {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	align-items: center;
}

.box_area_login_v1 h2.section_title {
	color: #252525;
	font-size: 30px;
	line-height: 33px;
	text-align: center;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.btn_login_social {
	margin-top: 20px;
}

.btn_login_social span,
.btn_login_social i {
	color: #fff !important;
	font-weight: 500;
	font-size: 16px;
}

.btn_login_social .btn_facebook_v1 {
	background: #3B5998;
	padding: 7px 25px;
}

.btn_login_social .btn_gplus_v1 {
	background: #dd4b39;
	padding: 7px 35px;
}

.submit_name_psw {
	padding-top: 0;
	padding-bottom: 0;
}

.submit_name_psw>form {
	position: relative;
}

.submit_name_psw {
	margin-top: 30px;
}

.btn_submit_login {
	margin-bottom: 30px;
}

.btn_submit_login button.submit {
	background-color: #ffc267;
	border: 1px solid #ffc267;
	color: #fff;
	font-size: 12px;
	line-height: inherit;
	padding: 10px 30px;
	width: 100%;
	text-transform: uppercase;
	transition: all 400ms ease 0s;
	outline: none;
	border-radius: 3px;
}

/*End CART TABBLE*/
/* Cart */

.cart-table p {
	margin-top: 0;
}

.cart-table p.cart-price-description {
	min-width: 200px;
}

.cart-table input {
	min-width: 55px;
}

.cart-table tbody tr td {
	vertical-align: top;
	padding-right: 15px;
}

.cart-table p.amount-total {
	color: #ca0000
}

.cart-table p.cart-price {
	margin-top: 0;
}

.cart-table .cart-product .details {
	color: inherit;
	margin-top: 0;
}

.cart-table .noborder,
.cart-table .noborder td,
.cart-table tbody tr.noborder td {
	border-top: none;
	border-bottom: none;
}

.cart-table .nopadbot,
.cart-table .nopadbot td,
.cart-table tbody tr.nopadbot td {
	margin-bottom: 0;
	padding-bottom: 0;
}

.cart-table .nopadtop,
.cart-table .nopadtop td,
.cart-table tbody tr.nopadtop td {
	margin-top: 0;
	padding-top: 0;
}

.cart-table .cart-pro-remove:hover {
	color: inherit;
}

.cart-table tbody tr td .price-total {
	color: #ca0000;
}

.cart .order .total ul li span {
	font-size: 20px;
	color: #ca0000;
}

.p-cart a.btn-primary {
	line-height: 38px
}

/* End Cart */

/* Payment */

.box_cart {
	margin-top: 0;
}

ul.payment-total-block li {
	display: inline-block;
	width: 100%;
}

.b-loader {
	border: 5px solid #f3f3f3;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: rgb(243, 243, 243);
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 20px;
	height: 20px;
	margin-left: 0;
	animation: spin 2s linear infinite;
}

/* End Payment */

.price-row-col p {
	margin: 0;
	text-align: right;
}

.mycarttable-inner table tr {
	border-bottom: 1px solid;
}
