/* Login */

.box_area_login_v1 {
	margin-top: 35px;
	margin-bottom: 45px;
}

.box_area_login_v1 hr {
	border-top: 1px solid #eee;
}

.box_area_login_v1 .title {
	color: #482416;
	font-size: 30px;
	line-height: 33px;
	text-align: center;
	font-family: inherit;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.btn_login_social {
	margin-top: 20px;
}

.btn_login_social span,
.btn_login_social i {
	color: #fff !important;
	font-weight: 500;
	font-size: 16px;
}

.btn_login_social .btn_facebook_v1 {
	background: var(--fb-blue);
	padding: 7px 25px;
}

.btn_login_social .btn_gplus_v1 {
	background: var(--spicey-red-5);
	padding: 7px 35px;
}

.box_area_login_v1 ul {
	margin: 0;
	padding: 0;
}

.box_area_login_v1 ul li {
	list-style-type: none;
}

.box_area_login_v1 .form-control-wrapper {
	position: relative;
}

/* End Login */