/* News */

.breadcrumb {
	margin-bottom: 0;
	background: none;
}

.search_area_bar>form {
	position: relative;
}

.search_area_bar input[type=text] {
	background-color: #fff;
	border: 1px solid #007acc;
	color: #666666;
	height: 40px;
	line-height: 28.8px;
	margin: 0;
	outline: medium none;
	padding: 5px 48px 5px 15px;
	position: relative;
	transition: all 400ms ease 0s;
	width: 100%;
	outline: none;
}

.search_area_bar button.submit {
	background-color: #007acc;
	border: 1px solid #007acc;
	height: 40px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 400ms ease 0s;
	width: 45px;
	outline: none;
	color: #fff;
}

.search_area_bar button.submit:hover {
	background: #0192c9;
}

.recent_area_bar .signle_post_v1 {
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
}

.signle_post_v1 .img_post_rc_v1 {
	display: inline-block;
	float: left;
	width: 34%;
}

.signle_post_v1 .txt_post_rc_v1 {
	display: inline-block;
	padding-left: 15px;
	width: 66%;
}

.signle_post_v1 .img_post_rc_v1 img {
	width: 100%;
}

.signle_post_v1 .txt_post_rc_v1 .title {
	margin-top: 0;
	font-family: inherit;
	font-size: 15px;
}

.signle_post_v1 .txt_post_rc_v1 a,
.signle_post_v1 .txt_post_rc_v1 a span,
.signle_post_v1 .txt_post_rc_v1 a i {
	text-decoration: none;
	color: inherit;
}

.signle_post_v1 .txt_post_rc_v1 a:hover,
.signle_post_v1 .txt_post_rc_v1 a:hover span {
	color: #e40149;
}

.signle_post_v1 .txt_post_rc_v1 .date,
.signle_post_v1 .txt_post_rc_v1 i {
	color: #aaa;
	font-size: 11px;
}

.category_news_v1 ul {
	margin: 0;
	padding: 0;
}

.category_news_v1 ul li {
	list-style-type: none;
}

.category_news_v1 ul li a {
	text-decoration: none;
	font-family: inherit;
	font-weight: 400;
	border-bottom: 1px solid #eee;
	display: block;
	font-size: 14px;
	padding: 10px 0;
	position: relative;
	transition: all 400ms ease 0s;
}

.category_news_v1 ul li a,
.category_news_v1 ul li a span,
.category_news_v1 ul li a i {
	text-decoration: none;
	color: inherit;
}

.category_news_v1 ul li a:hover,
.category_news_v1 ul li a:hover span {
	color: #e40149;
}

.category_news_v1 ul li span.count {
	color: inherit;
	float: right;
}

.tag_news_v1 ul {
	margin: 0;
	padding: 0;
}

.tag_news_v1 ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 8px 8px 0;
}

.tag_news_v1 ul li a {
	background-color: #007acc;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 21px;
	opacity: 1;
	padding: 5px 10px;
	text-transform: capitalize;
	transition: all 400ms linear 0s;
	text-decoration: none;
	font-family: inherit;
}

.tag_news_v1 ul li:hover a {
	background: #0192c9;
}

.single_news_trend {
	border: 1px solid #dee4dd;
	margin-bottom: 30px;
	border-radius: 0 0 3px 3px;
}

.single_news_trend .news_front {
	position: relative;
	width: 100%;
	padding-bottom: 75%;
	z-index: 1;
}

.news_front .news_trend_thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.news_hover_info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.news_hover_info::before {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	opacity: 0;
	position: absolute;
	transition: all 400ms ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: -1;
}

.single_news_trend:hover .news_hover_info::before {
	opacity: 0.5;
	visibility: visible;
}

.news_hover_action {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.news_hover_action a {
	border: 1px solid #3739be;
	border-radius: 100%;
	display: block;
	height: 50px;
	line-height: 55px !important;
	opacity: 0;
	text-align: center !important;
	transition: all 400ms ease 0s;
	visibility: hidden;
	width: 50px;
}

.news_hover_action a i {
	color: #3739be;
	font-size: 24px;
	line-height: 20px;
}

.single_news_trend:hover .news_hover_action a {
	opacity: 1;
	visibility: visible;
}

.news_hover_action a:hover {
	background: none repeat scroll 0 0;
	border: 1px solid #3739be;
}

.news_hover_action a:hover i {
	color: #3739be !important;
}

.news_trend_details {
	padding: 15px;
}

.news_trend_details .title {
	margin: 00 5px;
	padding: 0;
	height: 44px;
	font-size: 17px;
	line-height: 21px;
	font-weight: 500;
	overflow: hidden;
}

.news_trend_details .title,
.news_trend_details .title a,
.news_trend_details .title span {
	color: #3739be;
}

.news_trend_details ul,
ul.post_info {
	margin: 0;
	padding: 00 15px;
	border-bottom: 1px dashed #aba6a6;
	color: #aba6a6;
}

.news_trend_details ul li,
ul.post_info li {
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
}

.news_trend_details ul li a,
ul.post_info li a,
.news_trend_details ul li span,
ul.post_info li span {
	font-weight: normal;
	color: inherit;
	font-size: 13px;
	line-height: 15px;
}

.news_trend_details ul li+li,
ul.post_info li+li {
	padding-left: 5px;
	padding-right: 5px;
}

.border_right_post {
	position: relative;
}

.border_right_post::after {
	border: 1px solid #eee;
	content: "";
	height: 10px;
	position: absolute;
	right: -7px;
	top: 3px;
}

.news_trend_details .description {
	height: 37px;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	margin-top: 10px;
}

.news-details-title {
	color: #482416;
	font-size: 24px;
	font-family: inherit;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}

.box_news_details .title {
	color: #007acc;
}

.art-postcontent .box_news_details a:hover {
	line-height: inherit;
}

/* End News */