// TODO:
// 1. Replace vendor colors w custom color vars.
// 2. OPTIONAL reconsider approach. Can it be done more elegant?

.ribbon {
	// font-size: 16px !important;
	width: 50%;
		
	position: relative;
	background: #ba89b6;
	color: #fff;
	text-align: center;
	padding: 1em 2em; 
	margin: 2em auto 3em; 

	&:before, 
	&:after {
		content: "";
		position: absolute;
		display: block;
		bottom: -1em;
		border: 1.5em solid #986794;
		z-index: -1;
	}

	&:before {
		left: -2em;
		border-right-width: 1.5em;
		border-left-color: transparent;
	}

	&:after {
		right: -2em;
		border-left-width: 1.5em;
		border-right-color: transparent;
	}

	.ribbon-content:before, 
	.ribbon-content:after {
		content: "";
		position: absolute;
		display: block;
		border-style: solid;
		border-color: #804f7c transparent transparent transparent;
		bottom: -1em;
	}

	.ribbon-content:before {
		left: 0;
		border-width: 1em 0 0 1em;
	}

	.ribbon-content:after {
		right: 0;
		border-width: 1em 1em 0 0;
	}
}