/* Search keywords */

.search_title_for .tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.search_title_for .tags li.title_search {
	margin-top: 3px;
	margin-right: 5px;
}

.search_title_for .tags li {
	padding-top: 10px;
}

.search_title_for .tags li {
	float: left;
}

.search_title_for .tags li.title_search span {
	font-weight: 600;
	color: #3e3e3e;
	font-size: 16px;
}

.search_title_for .tag {
	background: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	transition: color 400ms;
}

.search_title_for .tag::after {
	background: #007acc;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}
