.sp-arrow {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 10px 10px 10px;
	box-sizing: content-box;
}

.sp-next-arrow:after,
.sp-next-arrow:before,
.sp-previous-arrow:after,
.sp-previous-arrow:before {
	height: 30%;
	width: 5%;
	background: #000;
}

.sp-horizontal .sp-previous-arrow {
	left: 0;
}

.sp-horizontal .sp-next-arrow {
	right: 0;
}

.sp-previous-arrow:before,
.sp-next-arrow:before {
	top: 20%;
}

.sp-previous-arrow:before,
.sp-previous-arrow:after {
	left: 40%;
}

.sp-next-arrow:before,
.sp-next-arrow:after {
	right: 40%;
}

.slider-pro-wrap {
	margin-top: 0;
}

.section.pt {
	padding-top: 40px;
}

/*//////////////////// MAIN SLIDER ////////////////////*/

.sp-slide-content {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.sp-slide-text {
	display: table-cell;
	height: 100%;
	vertical-align: bottom;
}

.sp-slide-title-text {
	position: relative;
	font-size: 44px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.8;
	opacity: .9;
	color: #fff;
	text-align: center;
	padding-left: 10%;
	padding-left: 10%;
	padding-bottom: 70px;
	text-shadow: 1px 1px 3px #000;
}

.sp-slide-description-text {
	margin-top: 0;
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	opacity: .75;
}

.sp-buttons {
	margin-top: -60px;
	padding-bottom: 19px;
}

.sp-button {
	border: 2px solid #fff;
	width: 15px;
	height: 15px;
	box-shadow: 0 0 2px #000;
}

.sp-selected-button {
	background-color: var(--yellow-grey);
}

/* Home slider */
.slider-width-height .fixed {
	height: 0px;
}

/* End home slider */